@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Playfair Display', serif;
    color: #ffffff;
    background-color: #000000;
}

p {
    font-size: 1.2rem;
}

hr {
    background-color: #ffffff;
    border: 0;
    clear:both;
    display:block;
    width: 6rem;               
    height: 1px;
    margin-bottom: 1rem;
}

.underline-link {
    text-decoration: underline;
}

/* Style the navigation menu */
nav {
    margin-bottom: 1rem;
    border-bottom: #ffffff solid 1px;
}

.top-nav {
    overflow: hidden;
    background-color: #000000;
    position: relative;
    color: #00BD6E;
}
  
/* Hide the links inside the navigation menu (except for logo/home) */
.top-nav #myLinks {
display: none;
}

/* Style navigation menu links */
.top-nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
}

#myLinks {
    padding-bottom: 0;
    display: flex;
    font-size: 1rem;
    border-top: #00BD6E solid 1px;
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
}

/* Style the hamburger menu */
.top-nav a.icon {
    display: flex;
    font-size: 2rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

/* Add a grey background color on mouse-over */
.top-nav a:hover {
    color: #00BD6E;
}

/* Style the active link (or home/logo) */
.active {
    width: 100%;
    display: flex;
    align-items: center;
    color: #ffffff;
    padding-left: 1rem;
    justify-content: center;
    text-align: center;
} 

  /* flexbox nav */
.seen-nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #000000;
}

/* home main images and text*/

.home-images h2 {
    margin-bottom: 1rem;
}

#home-image1 {
    width: 90%;
    height: 20vh;
    background: url(../images/all-blacks-logo.png) no-repeat center center;
    background-size: contain;
    margin: 2rem 0;
    max-width: 60vw;
}

#home-image2 {
    width: 90%;
    height: 24vh;
    background: url(../images/irfu-logo.png) no-repeat center center;
    background-size: contain;
    margin-top: 2rem;
    max-width: 50vw;
}

.home-images {    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: #ffffff 1px solid;
    padding-bottom: 3rem;
}

.home-images p {
    max-width: 70%;
}

.home-images a {
    color: #ffffff;
    text-align: center;
    max-width: 70%;
}

.home-images a:hover {
    color: #00BD6E;
}

/* footer styling */
footer {
    max-width: 70%;
    margin: 10vh auto;
}

footer li {
    list-style: none;
}

footer a{
    color: #ffffff;
    padding: 2rem 0;
    font-size: 2rem;
}

footer a:hover {
    color:#00BD6E;
}

footer ul {
    display: flex;  
    justify-content: space-around;
    margin: 3rem 2rem;
}

/* homepage test match section */

#home-test1 {
    background: url(../images/auckland.jpg) no-repeat center center;
}

#home-test2 {
    background: url(../images/dunedin.jpg) no-repeat center center;
}

#home-test3 {
    background: url(../images/wellington.jpg) no-repeat center center;
}

#home-test1, #home-test2, #home-test3 {
    background-size: cover;
    border-radius: 10px;
    height: 40vh;
    width: 50rem;
    max-width: 70vw;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #00BD6E;
    border: 1px solid #000000;
}

#home-test1:hover, #home-test2:hover, #home-test3:hover {
    border:#00BD6E 1px solid;
}

.test-section-child {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 2rem;
}

.test-section-child a {
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    max-width: 90%;
    text-align: center;
}

.test-section-child h2 {
    margin-bottom: 0.5rem;
}

.test-section-child a:hover {
    color:#00BD6E;
}

.test-section-child a {
        color:#ffffff;
        text-decoration: none;
}

.test-section-child a:hover ~ #home-test1{
    border:#00BD6E 1px solid;
}


/* homepage signup section */

#sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

#sign-up p {
    max-width: 70%;
    text-align: center;
}

#sign-up a {
    max-width: 70%;
    text-align: center;
    margin-bottom: 1rem;
}

#sign-up a{
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

#sign-up a:hover {
    color:#00BD6E;
}

#sign-up .underline-link {
    text-decoration: underline;
}

#sign-up h3 {
    margin-top: 2rem;
}


/* homepage media queries */

@media (max-width: 700px) {

    p {
        font-size: 1rem;
    }

    #home-test1, #home-test2, #home-test3 {
        height: 20vh;
    }

    h1 {
        font-size: 1.2rem;
    }
}

@media (max-width: 500px) {

    h1 {
        font-size: 1rem;
    }
}

@media (max-width: 415px) {

    h1 {
        font-size: 0.9rem;
    }
}

@media (max-width: 371px) {

    h1 {
        font-size: 0.75rem;
    }
}

        
/* test match pages CSS */

.yt-title {
    text-align: center;
    border-top: #00BD6E 1px solid;
    border-bottom: #00BD6E 1px solid;
    padding: 0.3rem;
    margin-bottom: 0.5rem;
    max-width: 70%;
}

.yt-title h2 {
    font-size: 1.3rem;
    display: inline-block;
}

.yt-title p {
    display: inline-block;
}

.yt-embed {
    position: relative;
    overflow: hidden;
    width: 80%;
    padding-top: 45%;
    margin-top: 2vh;
}

#yt-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #00BD6E;
}

/* city info section of test page */

.city-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.city-info h3, .home-images h2 {
    border-bottom: #00BD6E solid 1px;
}

.city-info p {
    text-align: center;
    max-width: 70%;
    margin-top: 1rem;
}

.city-info a {
    color: #ffffff;
    text-align: center;
    max-width: 70%;
}

.city-info a:hover {
    color:#00BD6E;
}

/* map section of test match page */

#map-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}


.map-wrapper {
    position: relative;
    overflow: hidden;
    width: 60%;
    padding-top: 30%;
    margin-top: 2vh;
}

.maps {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #00BD6E;
}

/* test match pages media queries */

@media (max-width: 700px) {
    .yt-title h2 {
        font-size: 1.2rem;
    }

    .yt-title p {
        font-size: 1rem;
    }

    .city-info h3 {
        font-size: 1.2rem;
    }
    
    .city-info p {
        font-size: 1rem;
    }
}




/* sign up page */

.form-section {
    display: flex;
    justify-content: center;
    margin: 3rem;
    margin-bottom: 5rem;
}

.form-section input {
    padding: 0.3rem;
    margin: 0.3rem;
}

#form-one label, h3 {
    margin-top: 1rem;
}

#form-one h3{
    text-align: center;
}


#form-two h3 {
    margin-top: 1.5rem;
}

#form {
    max-width: 60vw;
    border: #00BD6E solid 1px;
    border-radius: 10px;
    padding: 1rem;
}

#form-one {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-one h2{
    margin-bottom: 0.5rem;
    text-align: center;
}

#form-one input {
    border-radius: 3px;
}

#form-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-two h3{
   margin-bottom: 1rem;
   padding-bottom: 0.2rem;
   border-top: #00BD6E 1px dotted;
   border-bottom: #00BD6E 1px dotted;
}

#form-one h3 {
    padding-bottom: 0.2rem;
    border-top: #00BD6E 1px dotted;
    border-bottom: #00BD6E 1px dotted;
 }

.checkbox {
    margin: 0.3rem;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.checkbox label{
   padding-right: 1rem;
}

#checkbox-wrapper {
    display: flex;
    flex-direction: column;
}

#submit-button {
    background-color: #ffffff;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 1.5rem;
    padding: 0.7rem;
}

#submit-button:hover {
    background-color: #00BD6E;
}


/* Media queries for all pages */
@media (min-width: 600px) {
    footer {
        max-width: 50%;
    }   
}

@media (min-width: 900px) {
    footer {
        max-width: 40%;
    }   
}

@media (min-width: 1200px) {
    footer {
        max-width: 30%;
    }   
}

@media (min-width: 1500px) {
    footer {
        max-width: 25%;
    }   
}