@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Playfair Display', serif;
    color: #ffffff;
    background-color: #000000;
}

p {
    font-size: 1.2rem;
}

hr {
    background-color: #ffffff;
    border: 0;
    clear:both;
    display:block;
    width: 6rem;               
    height: 1px;
    margin-bottom: 1rem;
}

.underline-link {
    text-decoration: underline;
}

 /* Style the navigation menu */
 .top-nav {
    overflow: hidden;
    background-color: #000000;
    position: relative;
    color: #00BD6E;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .top-nav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .top-nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
  }

  #myLinks {
    padding-bottom: 0;
    display: flex;
    font-size: 1rem;
    border-top: #00BD6E dotted 1px;
    border-bottom: #00BD6E dotted 1px;
  }

  /* Style the hamburger menu */
  .top-nav a.icon {
        display: flex;
        font-size: 2rem;
        padding: 1rem;
        justify-content: center;
        align-items: center;
  }
  
  /* Add a grey background color on mouse-over */
  .top-nav a:hover {
    color: #00BD6E;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    width: 100%;
    display: flex;
    align-items: center;
    color: #ffffff;
    padding-left: 1rem;
  } 

  /* flexbox nav */
.seen-nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #000000;
}

/* home main images and text*/

#home-image1 {
    width: 90%;
    height: 20vh;
    background: url(../images/all-blacks-logo.png) no-repeat center center;
    background-size: contain;
    margin: 2rem 0;
    max-width: 60vw;
}

#home-image2 {
    width: 90%;
    height: 24vh;
    background: url(../images/irfu-logo.png) no-repeat center center;
    background-size: contain;
    margin-top: 2rem;
    max-width: 50vw;
}

.home-images {    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem;
}

.home-images p {
    max-width: 70%;
}

/* footer styling */

footer li {
    list-style: none;
}

footer a{
    color: #ffffff;
    padding: 2rem;
    font-size: 2rem;
}

footer a:hover {
    color:#00BD6E;
}

footer ul {
    display: flex;  
    justify-content: center;
    margin: 3rem 2rem;
}

/* homepage test match section */

#home-test1 {
    background: url(../images/auckland.jpg) no-repeat center center;
}

#home-test2 {
    background: url(../images/dunedin.jpg) no-repeat center center;
}

#home-test3 {
    background: url(../images/wellington.jpg) no-repeat center center;
}

#home-test1, #home-test2, #home-test3 {
    background-size: cover;
    border-radius: 10px;
    height: 40vh;
    width: 50rem;
    max-width: 70vw;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #00BD6E;
    border: 1px solid #000000;
}

#home-test1:hover, #home-test2:hover, #home-test3:hover {
    border:#00BD6E 1px solid;
}

.test-section-child {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 2rem;
}

.test-section-child a {
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    max-width: 90%;
    text-align: center;
}

.test-section-child h2 {
    margin-bottom: 0.5rem;
}

.test-section-child a:hover {
    color:#00BD6E;
}

.test-section-child a {
        color:#ffffff;
        text-decoration: none;
}

.test-section-child a:hover ~ #home-test1{
    border:#00BD6E 1px solid;
}


/* homepage signup section */

#sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

#sign-up p {
    max-width: 70%;
    text-align: center;
}

#sign-up a {
    max-width: 70%;
    text-align: center;
    margin-bottom: 1rem;
}

#sign-up a{
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

#sign-up a:hover {
    color:#00BD6E;
}

#sign-up .underline-link {
    text-decoration: underline;
}


/* homepage media queries */

@media (max-width: 700px) {
    .active {
        justify-content: center;
        text-align: center;
    }

    p {
        font-size: 1rem;
    }

    #home-test1, #home-test2, #home-test3 {
        height: 20vh;
    }
}
        